:host {
  position: fixed;
  float: right;
  cursor: pointer;
  right: 14px;
  bottom: 14px;
  z-index: 100;
  opacity: 0.75;
}

:host:hover {
  opacity: 1;
}

.scroll-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gotoTop {
  border: none;
  background-color: transparent;
}
